
/* for the fonts
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
*/

html, body {
	height: 100%;
	background-color: #36454F;
	color: #E5E4E2;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
}

figure {
	height: 100%;
	margin: 0;
}
figure img {
	height: 75%;
	position: absolute;
	right: 0;
	bottom: 0;
}

header {
	position: absolute;
	top: 1rem;
	left: 5%;
	font-size: 2.5rem;
	font-family: 'Playfair Display', serif;
}

.col-left {
	position: absolute;
	top: 12rem;
	left: 5%;
	width: 40%;
}

.col-right {
	position: absolute;
	top: 24rem;
	left: 5%;
	width: 30%;
}

footer {
	position: absolute;
	bottom: 3rem;
	left: 5%;
	width: 50%;
}

@media screen and (min-width: 40em) {
	figure img {
		height: 90%;
	}
	header {
		font-size: 2.5rem;
	}
	.col-left {
		font-size: 1.2rem;
		}
	.col-right {
		font-size: 1.2rem;
	}
	footer {
		 font-size: 1.5rem
	}
}
	
@media screen and (min-width: 55em){
	figure img {
		height: 100%;
	}
	header {
		position: absolute;
		font-size: 3rem;
		top: 0;
		left: 45%;
	}
	.col-left {
		font-size: 1.5rem;
		position: absolute;
		top: 12rem;
		left: 5%;
		width: 40%;
	}
	.col-right {
		font-size: 1.5rem;
		position: absolute;
		top: 20rem;
		left: auto;
		right: 5%;
		width: 30%;
		text-align: right;

	}
	footer {
		font-size: 2rem;
		position: absolute;
		bottom: 3rem;
		left: 5%;
		width: 90%;
	}
}